/.pulumi/
/.vscode/
/.vs/
bin/
build/
node_modules/
*.pyc
.Python
venv/
include/
lib/
yarn.lock
package-lock.json
.idea/
.ionide/
*.iml
key.rsa*
obj/
vendor
Gopkg.lock
kubeconfig.yml
.cache
.DS_Store
**/.DS_Store

# Java app
.gradle/
.settings/
.project
.classpath
target/

